build*
eclipse*
xcode*
code/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
*.pk4
*.resources
*.crc
.DS_Store
imgui.ini
Simple.json

base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/strings/
base/video/
base/wads/
base/renderprogs2/
base/generated/
base/env/
base/screenshots/
base/_tb/*.obj
base/_tb/*.mtl

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
code/.kdev4
code/code.kdev4
code/.idea/
code/.vscode/
code/cmake-build-*/
code/bin/
/tools/
code/game/gamesys/GameTypeInfo.h
code/game/gamesys/GameTypeInfo.cpp

